body {
    background-color: #ffffff;
    color: #635c5c;
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background-color: #0A1931;
    color: #e4ba7a;
    padding: 20px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

nav {
    display: flex;
    flex-direction: column;
    padding: 25px;
    gap: 15px;
    width: 220px;
    background-color: #0A1931;
    color: #e4ba7a;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 80px;
    font-weight: bold;
}

nav a {
    color: #e4ba7a;
    padding: 15px 20px;
    text-decoration: none;
    border-bottom: 1px solid #e4ba7a;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-weight: 600;
}



nav a:active {
    background-color: #e4ba7a;
    color: #ffffff;
    transition: background-color 0.1s ease, color 0.1s ease;
}

main {
    margin-left: 220px;
    padding: 30px;
    max-width: calc(100% - 220px);
}

h1 {
    color: #e4ba7a;
    margin-bottom: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #E3F2FD;
    color: #124076;
}

th, td {
    padding: 10px;
    border: 1px solid #ac835d;
    text-align: left;
    vertical-align: middle;
}

th {
    background-color: #e4ba7a;
    color: #124076;
}

@media (max-width: 768px) {
    nav {
        width: 100%;
        height: auto;
        position: relative;
        padding-top: 10px;
        flex-direction: row;
        justify-content: space-around;
    }

    main {
        margin-left: 0;
        padding: 20px 10px;
        max-width: 100%;
    }
}
