

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <head>
        <link rel="stylesheet" href="../header_footer/header.css">
    </head>
    <header class="Mainhead">
        <nav class="navigator">
            <a href="#"><img src="..." alt="ShaikEstate" class="logo"></a>
            <ul class="nav-menu">
                <li><a href="#" class="navs">Home</a></li>
                <li><a href="#" class="navs">Features</a></li>
                <li><a href="#" class="navs">Agents</a></li>
                <li><a href="#" class="navs">Projects</a></li>
                <li><a href="#" class="navs">About</a></li>
                <li><a href="#" class="navs">Contact</a></li>
            </ul>
        </nav>
    </header>
</html>